body {
    font-family: Arial, sans-serif;
}

.intro {
    padding: 2em 0px;
}

h1 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 40em;
}

svg {
    width: 60em;
}
